@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Gabarito&family=Inclusive+Sans&family=Inter&family=Montserrat&family=Poppins&family=Roboto&family=Space+Grotesk&family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all 0.5s linear;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}
.top_container{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgb(12 12 4 /60%),
    rgb(13 10 11 /60%)), url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 1%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.logo{
    margin-right: 25%;
    color: #ff6b2d;
    font-size: 30px;
}
.navbar li{
    display: inline;
    padding: 10px 15px;
}
.navbar li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 23px;
    padding: 4px;
}
.navbar li a:hover{
    color: #ff6b2d;
}
.burger{
    display: none;
}
/* _________main  */
.main{
    display: flex;
    justify-content: center;
    align-items: left;
    height: 90vh;
    flex-direction: column;
    width: 30%;
    margin-left: 23em;
}
.para{
    color: #fff;
}
.heading{
    color: #ff6b2d;
    font-size: 47px;
    padding: 2% 0;
}
.para_m{
    font-size: 12px;
    color: #d7d4d4;
    padding-bottom: 2%;
}
.btn{
    padding: 8px 18px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
.btn1{
    background-color: #ff6b2d;
    color: #fff;
}
.btn:hover{
    background: linear-gradient(90deg, rgba(255,107,45,1) 0%,
    rgba(36,33,33,1) 76% , rgba(218,171,172,1) 100%);
    color: #fff;
}
/* ___________about  */
.row, .row_3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 4% 0;
}
.left_box,.right_box{
    width: 50%;
}
.left_box{
    margin-right: 5%;
}
.left_box h1{
    font-size: 38px;
    padding-bottom: 3%;
}
.para_2{
    color: #777;
    line-height: 1.5;
}
.a_box{
    display: flex;
    text-align: center;
}
.boxes{
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 4% 2%;
    margin: 2%;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.boxes i{
    border: 2px solid #ff6b2d;
    padding: 12px;
    color: #ff6b2d;
}
.boxes h2{
    padding: 8px 0;
}
.boxes:hover{
    transform: scale(1.1);
}
/* ________team-sec */
.row_2{
    width: 80%;
    margin: auto;
    padding-bottom: 4%;
    text-align: center;
}
.btn3{
    background-color: #605651;
    color: #fff;
}
.tem_box{
    display: flex;
}
.tem{
    margin: 3%;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    padding-bottom: 3%;
}
.tem img{
    width: 100%;
}
.tem_h{
    border-radius: 10px;
    color: #fff;
    background-color: #ff6b2d;
    margin: 0 6%;
    padding: 2% 0;
    position: relative;
    bottom: 7%;
    left: 0;
}
.icon_link{
    color: #504e4d;
    font-size: 25px;
}
.icon_link i{
    margin: 0 2%;
    cursor: pointer;
}
.icon_link i:hover{
    color: #ff6b2d;
}
/* _________comparsion */
.row_3{
    width: 100%;
}
.left,.right{
    width: 50%;
    padding: 4% 3%;
    color: #fff;
}
.left{
    background-color: #ff6b2d;
}
.right{
    background-color: #504e4d;
}
.head{
    padding: 1% 0;
}
.row_3 li{
    padding: 3px 0;
}
/* _________services */
.service{
    display: inline-flex;
}
.ser_box{
    margin-bottom: 5%;
    text-align: center;
}
/* _______estimate_count */
.fact_box img{
    width: 100%;
}
.Est_count{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Est_count div{
    padding: 4% 7%;
}
.Est_count h1{
    font-size: 35px;
    padding-bottom: 4%;
}
.Est_count p{
    font-size: 20px;
}
/* ______footer */
.f-sec{
    background-color: #f5966e;
    color: #fff;
    padding: 3% 0;
}
.footer{
    padding: 0 3%;
    display: flex;
    justify-content: center;
}
.f-box{
    flex-basis: 25%;
}
.f-box li{
    list-style: none;
    padding: 7px 0;
}
.f-box h2{
    color: #313030;
    padding-bottom: 12px;
}
.f-box i{
    background-color: #504e4d;
    padding: 2%;
    border-radius: 50%;
    font-size: 20px;
    margin-top: 17px;
    cursor: pointer;
}
.f-box i:hover{
    background-color: #fff;
    color: #ff6b2d;
}
.f-box input,button{
    padding: 8px;
    margin-top: 12px;
    outline: none;
    border: none;
}
.f-box button{
    color: #fff;
    background-color: #ff6b2d;
}
.f-box button:hover{
    letter-spacing: 2px;
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: #ff6b2d;
    color: #fff;
    padding: 10px 0;
}
/* _________responsive */
@media only screen and (max-width:1120px){
    .main{
        margin-left: 18em;
        width: 45%;
    }
    .logo{
        margin-right: 2%;
    }
}
@media only screen and (max-width:870px){
    .main{
        margin-left: 8em;
    }
    .row,.row_2{
        width: 90%;
    }
    .tem{
        margin: 3% 1%;
    }
    .navbar{
        height: 80px;
    }
}
@media only screen and (max-width:770px){
    .navbar{
        height: 370px;
        flex-direction: column;
        background-color: #313030;
        transition: all 0.9s ease-out;
    }
    .logo{
        margin: 0;
    }
    .navbar li{
        display: block;
    }
    .burger{
        position: absolute;
        z-index: 3;
        top: 15px;
        right: 5%;
        cursor: pointer;
        display: block;
        color: antiquewhite;
        font-size: 33px;
    }
    .h-class{
        height: 78px;
    }
    .v-class{
        opacity: 0;
    }
    .row,.tem_box,.row_3,.footer{
        flex-direction: column;
    }
    .left,.right{
        width: 100%;
    }
    .tem_box{
        width: 70%;
        margin: auto;
    }
    .left_box,.right_box{
        width: 85%;
    }
    .left_box{
        margin-right: 0%;
    }
    .service{
        display: contents;
    }
    .f-box{
        padding-top: 3%;
    }
    .tem_h{
        top: -23px;
    }
}
@media only screen and (max-width:510px){
    .main{
        width: 65%;
        margin-left: 4em;
    }
    .a_box,.Est_count{
        flex-direction: column;
    }
    .heading{
        font-size: 34px;
        padding: 1% 0;
    }
    .para_m{
        font-size: 9px;
    }
    .para_2{
        font-size: 12px;
        line-height: 1.3;
    }
    .row,.row_2{
        width: 95%;
    }
}